In [23]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

df1 = pd.read_csv("Experimento-1.csv")

df1

,Initial,Final,Cost Function,Algorithm,Objective Found,Path Cost,Generated Nodes,Visited Nodes
0,"(29,3)","(27,20)",c1,DFS,True,1010,368,102
1,"(29,3)","(27,20)",c1,BFS,True,190,1090,283
2,"(29,3)","(27,20)",c1,Dijkstra,True,190,535,266
3,"(29,3)","(27,20)",c2,DFS,True,1030,368,102
4,"(29,3)","(27,20)",c2,BFS,True,200,1090,283
...,...,...,...,...,...,...,...,...
595,"(26,17)","(5,8)",c3,BFS,True,351,3167,812
596,"(26,17)","(5,8)",c3,Dijkstra,True,330,1600,806
597,"(26,17)","(5,8)",c4,DFS,True,6742,3259,844
598,"(26,17)","(5,8)",c4,BFS,True,287,3167,812
599,"(26,17)","(5,8)",c4,Dijkstra,True,265,1605,810

In [24]:
df2 = pd.read_csv("Experimento-2.csv")

df2.Heuristic.fillna("None", inplace=True)

df2

,Initial,Final,Cost Function,Algorithm,Objective Found,Path Cost,Generated Nodes,Visited Nodes,Heuristic
0,"(21,5)","(15,7)",c1,Dijkstra,True,80,295,136,None
1,"(21,5)","(15,7)",c1,A,True,80,93,24,h1
2,"(21,5)","(15,7)",c1,A,True,80,81,21,h2
3,"(21,5)","(15,7)",c2,Dijkstra,True,110,297,137,None
4,"(21,5)","(15,7)",c2,A,True,110,157,40,h1
...,...,...,...,...,...,...,...,...,...
595,"(4,29)","(26,25)",c3,A,True,302,742,192,h1
596,"(4,29)","(26,25)",c3,A,True,302,568,146,h2
597,"(4,29)","(26,25)",c4,Dijkstra,True,227,943,471,None
598,"(4,29)","(26,25)",c4,A,True,232,253,66,h1
599,"(4,29)","(26,25)",c4,A,True,231,141,36,h2

In [25]:
df3 = pd.read_csv("Experimento-3.csv")

df3

,Initial,Final,Cost Function,Algorithm,Objective Found,Path Cost,Generated Nodes,Visited Nodes,Heuristic
0,"(18,4)","(4,15)",c1,GBFS,True,250,101,26,h1
1,"(18,4)","(4,15)",c1,A,True,250,943,237,h1
2,"(18,4)","(4,15)",c2,GBFS,True,320,101,26,h1
3,"(18,4)","(4,15)",c2,A,True,320,1306,330,h1
4,"(18,4)","(4,15)",c3,GBFS,True,276,101,26,h1
...,...,...,...,...,...,...,...,...,...
795,"(28,7)","(30,18)",c2,A,True,140,130,36,h2
796,"(28,7)","(30,18)",c3,GBFS,True,135,42,14,h2
797,"(28,7)","(30,18)",c3,A,True,130,94,25,h2
798,"(28,7)","(30,18)",c4,GBFS,True,135,42,14,h2
799,"(28,7)","(30,18)",c4,A,True,129,45,14,h2

In [ ]:
df4 = pd.read_csv("Experimento-4.csv")

df4